.notes {
  /* align-items: center; */
  border: 3px solid teal;
  border-radius: 10px;
  margin-top: 30px;
<<<<<<< HEAD
  /* margin-left: 10px
 !important; */
=======
>>>>>>> 0ac21d9981f0c193bc5b552d9b7acae8d483671e
}

.notes2 {
  height: 90px;
}

.cards {
  margin-top: 60px;
}

