.modal-overlay{
    opacity: 0.8
    !important;
}

.modal-content{
    background-image: url("../../images/chooglelogo.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-size: contain ;
    background-repeat: no-repeat;
    margin-top: 50px;
}


