.signin {
  height: 70px;
}

.col.center.s3 {
  margin-bottom: 50px;
  height: 350px;
}

.row {
  margin: 0;
}
.col {
  padding: 0;
}

.margin-top {
  margin-top: 100px;
}

.signupform{
  margin-top: 50px;
  border-radius: 10px;
}