body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0 !important;
  height: 70px;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.footerlogo {
  position: fixed;
  left: 0;
  margin-left: 20px;
  margin-top: 8px;
}

.footer-copyright {
  color: black !important;
  text-align: center;
  background-color: white !important;
}
